body,
h1,
h2,
p,
ul,
dd {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
button {
  padding: 0px;
  margin: 0px;
}
