.header-bg {
  background-image: url(../../img/burguer-inicial-g.webp);
  background-position-x: center;

  align-items: center;
}
.header img {
  height: min-content;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  margin-bottom: 40px;
}
.header-menu li:hover {
  color: var(--cor-p1);
}
.header ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

.header h1 {
  text-align: center;
  padding-bottom: 140px;
}
@media (max-width: 800px) {
  .header-menu {
    margin-bottom: 30px;
    padding-top: 12px;
  }
  .header-menu img {
    width: 40px;
  }
  .header li {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 5px 10px;
  }

  .header h1 {
    padding-bottom: 80px;
  }
  .header ul {
    padding-top: 8px;
    gap: 8px;
  }
}
@media (max-width: 350px) {
  .header-bg::after {
    content: "";
    width: 28px;
    height: 26px;
    position: absolute;
    background-image: url(../../img/icone-menu.svg);
    top: 24px;
    right: 40px;
  }
  nav {
    display: none;
  }
}
